<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Dino_Runner_Servlet</servlet-name>
		<servlet-class>dino.Dino_Runner_Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ScoreBoard</servlet-name>
		<servlet-class>dino.ScoreBoard</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Service</servlet-name>
		<servlet-class>dino.Service</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dino_Runner_Servlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScoreBoard</servlet-name>
		<url-pattern>/scoreboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Service</servlet-name>
		<url-pattern>/Service</url-pattern>
	</servlet-mapping>
</web-app>
