<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>JustSayHello</servlet-name>
		<servlet-class>yo.JustSayHelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JustSayHello</servlet-name>
		<url-pattern>/justsayhello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PW_2</servlet-name>
		<servlet-class>Practice.PW_2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PW_2</servlet-name>
		<url-pattern>/PW_2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HW_2</servlet-name>
		<servlet-class>Practice.HW_2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HW_2</servlet-name>
		<url-pattern>/HW_2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>Practice.Hello</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PW_3</servlet-name>
		<servlet-class>Practice.PW_3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PW_3</servlet-name>
		<url-pattern>/PW_3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PW_3_Data</servlet-name>
		<servlet-class>Practice.PW_3_Data</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PW_3_Data</servlet-name>
		<url-pattern>/PW_3_Data</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HW_3</servlet-name>
		<servlet-class>Practice.HW_3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HW_3</servlet-name>
		<url-pattern>/HW_3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PW_4</servlet-name>
		<servlet-class>Practice.PW_4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PW_4</servlet-name>
		<url-pattern>/PW_4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PW_4_Main</servlet-name>
		<servlet-class>Practice.PW_4_Main</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PW_4_Main</servlet-name>
		<url-pattern>/PW_4_Main</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Sign_up</servlet-name>
		<servlet-class>Practice.Sign_up</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sign_up</servlet-name>
		<url-pattern>/Sign_up</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>te</servlet-name>
		<servlet-class>Practice.te</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>te</servlet-name>
		<url-pattern>/te</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UDFS</servlet-name>
		<servlet-class>Khrystosov.UDFS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UDFS</servlet-name>
		<url-pattern>/UDFS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminAuth</servlet-name>
		<servlet-class>Khrystosov.AdminAuth</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAuth</servlet-name>
		<url-pattern>/AdminAuth</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StartPage</servlet-name>
		<servlet-class>XPlay.StartPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartPage</servlet-name>
		<url-pattern>/StartPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WebNotes</servlet-name>
		<servlet-class>Practice.WebNotes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebNotes</servlet-name>
		<url-pattern>/WebNotes</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Dino_Runner_Servlet</servlet-name>
		<servlet-class>dino.Dino_Runner_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dino_Runner_Servlet</servlet-name>
		<url-pattern>/Dino_Runner_Servlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
